   /*Common Css Start*/
   
   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   
   html,
   body {
       height: 100%;
       font-family: $bodyFont;
       font-size: $bfSize;
       font-weight: $fontWeight;
       line-height: $bLineHeight;
       color: $bfColor;
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
   }
   
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
       font-family: $titleFont;
       font-weight: 700;
       color: $title-color;
   }
   
   .section-title {
       text-align: center;
       font-size: 36px;
       line-height: 46px;
   }
   
   .tools-desc {
       font-size: 22px;
       color: $title-color;
       line-height: 32px;
   }
   
   iframe {
       border: none;
   }
   
   a,
   b,
   div,
   ul,
   li {
       -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
       -webkit-tap-highlight-color: transparent;
       -moz-outline-: none;
   }
   
   input,
   input:hover,
   input:focus,
   input:active,
   textarea,
   textarea:hover,
   textarea:focus,
   textarea:active,
   select:focus,
   select:hover {
       -moz-outline: none;
       outline: none;
       box-shadow: none;
   }
   
   img:not([draggable]),
   embed,
   object,
   video {
       max-width: 100%;
       height: auto;
   }
   
   a {
       text-decoration: none;
       outline: 0;
   }
   
   a:active,
   a:focus,
   a:hover,
   a:visited {
       text-decoration: none;
       outline: 0;
   }
   
    :focus {
       outline: none;
   }
   
   img {
       border: none;
       max-width: 100%;
       height: auto;
   }
   
   button:focus {
       -moz-outline: none;
       outline: none;
       box-shadow: none;
   }
   
   .btn.focus,
   .btn:focus {
       border: 1px solid transparent;
   }
   
   .form-control:focus,
   .btn.focus,
   .btn:focus {
       color: #495057;
       background-color: #fff;
       outline: 0;
       box-shadow: none;
   }
   
   a:focus {
       outline: 0px solid;
   }
   
   a {
       text-decoration: none;
       color: inherit;
   }
   
   a:hover {
       color: $primary-color;
       text-decoration: none;
   }
   
   a:active,
   a:hover {
       outline: 0 none;
       color: $primary-color;
   }
   
   ul {
       list-style: outside none none;
       margin: 0;
       padding: 0;
   }
   
    ::-moz-selection {
       background: $primary-color;
       text-shadow: none;
   }
   
    ::selection {
       background: $primary-color;
       text-shadow: none;
       color: $white;
   }
   
   .section-padding {
       padding: 120px 0;
   }
   
   form {
       height: 55px;
       border: 1px solid $bgTwo;
       border-radius: 3px;
       margin-bottom: 15px;
       label {
           font-size: 18px;
           color: #4e5f83;
           opacity: .7;
           margin: 0 15px;
       }
       input {
           display: inline-block;
           width: 70%;
           height: 100%;
           border: 0;
       }
       button {
           display: inline-block;
           width: 19%;
           height: 100%;
           margin: 0;
           border: none;
           background-color: $primary-color;
           text-transform: capitalize;
           color: $white;
           font-weight: 600;
       }
   }
   
   .hr {
       width: 100%;
       height: 1px;
       background-color: $bgTwo;
   }
   
   .toggle {
       transform: translateX(0);
   }
   /*Common Css End*/
   /*====================================================*/