// body var
$bodyFont: 'Nunito Sans',
sans-serif;
$titleFont: 'Nunito Sans',
sans-serif;
$bfSize: 16px;
$bLineHeight: 26px;
$fontWeight: 400;
$transition: all .5s linear;
//colors variables;
$primary-color: #00Adf2;
$title-color:#031b4e;
$bfColor: #4e5f83;
$white: #fff;
$black: #000;
$bgOne: #fff;
$bgTwo: #e6eaec;