/*Learn More Start*/

.learn-more {
    background-color: $bgTwo;
    h2 {}
    .tools-desc {
        margin-bottom: 35px;
    }
    .name-item {
        .learn-img {
            img {
                height: 40px;
            }
            margin-right: 10px;
        }
        .name-desc {
            span {
                font-size: 13px;
                color: $bfColor;
            }
            p.name-title {
                font-size: 18px;
                color: $title-color;
                margin: 0;
                margin-top: 5px;
            }
        }
        padding:20px;
        background-color:$white;
        transition: all .3s linear;
        &:hover {
            box-shadow: 0 12px 20px #00adf230;
        }
        margin-top: 20px;
    }
}


/*Learn More End*/